* {
  box-sizing: border-box;
}

.contents {
  align-items: center;
  background-color: #15123d;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  margin: 0;
}

@font-face {
  font-family: "Pixel";
  src: url(`../font/pixel.ttf`);
}

[game-flappy] {
  background-color: #17162e;
  /* border: 5px solid darkslateblue; */
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bird {
  position: absolute;
  width: 60px;
  left: calc(50% - 30px);
  bottom: 50%;
}

.pairOfBarrier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  top: 0%;
}

.barrier {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.barrier .edge {
  background: #17162e;
  border: 2px solid #000;
  height: 30px;
  width: 130px;
}

.barrier .body {
  background: darkslateblue;
  height: 150px;
  width: 110px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.progress {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 70px;
}